<template>
  <v-container>
    <h1 v-text="title"></h1>
    <template v-for="subarticle in subarticles">
      <h2 v-text="subarticle.title"></h2>
      <v-divider></v-divider>
      <template v-for="paragraph in subarticle.paragraphs">
        <p v-if="paragraph.isCode">
          <pre v-highlightjs="paragraph.content"><code :class="paragraph.language"></code></pre>
        </p>
        <p v-else-if="paragraph.isInfo">
          <v-alert :value="true" color="info" outline v-text="paragraph.content"></v-alert>
        </p>
        <p v-else-if="paragraph.isEditor">
          <component-editor :html="paragraph.html" :javascript="paragraph.javascript"></component-editor>
        </p>
        <p v-else-if="paragraph.isImage">
          <img :src="paragraph.src" width="100%">
        </p>
        <p v-else v-html="paragraph.content"></p>
      </template>
    </template>
    <div class="pagination">
      <router-link :to="previous.link" v-text="previous.title"></router-link>
      <router-link :to="next.link" v-text="next.title"></router-link>
    </div>
  </v-container>
</template>

<style type="text/css" scoped>
code:before {
  content: none;
}
.pagination {
  display: flex;
  justify-content: space-between;
}
</style>

<script>
  const axios = require('axios')
  export default {
    data () {
      return {
        title: null,
        previous: null,
        next: null,
        subarticles: null
      }
    },
    beforeCreate () {
      var article = this
      axios
        .get('http://0.0.0.0:5000/articles/introduction.json')
        .then(function (response) {
          article.title = response.data.title
          article.previous = response.data.previous
          article.next = response.data.next
          article.subarticles = response.data.subarticles
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  }
</script>