<template>
  <v-container>
    <editor v-model="html" v-on:input="editorUpdate()" lang="html" theme="chrome" height="140"></editor>
    <editor v-model="javascript" v-on:input="editorUpdate()" lang="javascript" theme="chrome" height="140"></editor>
    <div class="renderedComponent"></div>
  </v-container>
</template>

<style type="text/css" scoped>
.ace_editor {
  margin-bottom: 15px;
}
.renderedComponent {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 25px 35px;
  margin-top: 1em;
}
</style>

<script>
  export default {
    props: ['html', 'javascript'],
    methods: {
      editorInit () {
        require('brace/ext/language_tools')
        require('brace/mode/html')
        require('brace/mode/javascript')
        require('brace/theme/chrome')
        require('brace/snippets/javascript')
      },
      editorUpdate () {
        this.$el.children[2].innerHTML = this.html
        eval(`
          if (typeof Vue != "function") {
            var vueScript = document.createElement('script')
            vueScript.onload = function () {
              try {` + this.javascript + `}
              catch (e) { console.log(e) }
            }
            vueScript.src = 'https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js'
            document.head.appendChild(vueScript)
          } else {
            try {` + this.javascript + `}
            catch (e) { console.log(e) }
          }
        `)
      }
    },
    mounted () {
      this.editorInit()
      this.editorUpdate()
    }
  }
</script>