<template>
  <v-app>
    <v-navigation-drawer persistent :clipped="true" v-model="drawer" fixed app>
      <v-list>
        <v-list-tile value="true" v-for="(item, i) in items" :key="i">
          <v-list-tile-content>
            <router-link :to="item.link" v-text="item.title"></router-link>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app :clipped-left="true" style="z-index: 7;">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>Першоджерело — <a href="https://vuejs.org">vuejs.org</a></span>
    </v-footer>
  </v-app>
</template>

<style type="text/css">
a {
  color: #42b983 !important;
  font-weight: 600;
  text-decoration: none;
}
p {
  line-height: 1.6em;
  margin: 1.2em 0 -1.2em;
  padding-bottom: 1.2em;
  word-spacing: 0.05em;
  font-size: 16px;
  color: #34495e;
}
h1 {
  margin: 0 0 1em;
}
h2 {
  margin: 45px 0 0.8em;
}
h1, h2 {
  color: #2c3e50;
}
button, input {
  border: 1px solid darkgray;
  border-radius: 3px;
}
input {
  padding: 3px;
  background: white;
}
input:focus {
  border: 1px solid #4d79ff;
}
button {
  padding: 0px 20px;
  background-image: linear-gradient(#f2f2f2, #d9d9d9);
}
button:focus {
  border: 1px solid darkgray;
}
button:active {
  border: 1px solid gray;
  background: darkgray;
}
.ace_editor .ace_content {
  font-size: 12px !important;
  word-spacing: 0;
}
.v-toolbar__content > button {
  border: none;
}
</style>

<script>
export default {
  data () {
    return {
      fixed: false,
      drawer: true,
      items: [
        {
          title: 'Вступ',
          link: '/introduction'
        },
        {
          title: 'Екземпляр Vue',
          link: '/instance'
        },
        {
          title: 'Синтаксис шаблонів Vue',
          link: '/syntax'
        },
        {
          title: 'Обчислювані параметри та спостерігачі',
          link: '/computed'
        },
        {
          title: 'Робота з класами та стилями',
          link: '/class-and-style'
        },
        {
          title: 'Умовний вивід',
          link: '/conditional'
        },
        {
          title: 'Вивід списків',
          link: '/list'
        },
        {
          title: 'Обробка подій',
          link: '/events'
        },
        {
          title: 'Основа компонентів',
          link: '/components'
        }
      ],
      title: 'Study-Vue'
    }
  },
  name: 'App'
}
</script>
